*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#wrapper{
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.battery{
    height: 300px;
    width: 600px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.battery h4{
    border: 15px solid yellow;
    border-radius: 0.5rem;
    height: 8rem;
    width: 18rem;
}

.battery::after{
    content: '';
    height: 2.5em;
    width: 1.5em;
    background-color: yellow;
    position: absolute;
    top: 8.2.5rem;
    left: 27.7em;
    border: 1px solid yellow;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}


.innerbattery{
    height: 5.3em;
    width: 0;
    background-color: yellow;
    position: absolute;
    left: 11.1em;
    border-radius: 0.1em;
    animation: battery 8s 0s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}


@keyframes battery {
    0%{width: 0;}
    25%{width: 10%;}
    50%{width: 20%;}
    70%{width: 30%;}
    85%{width: 41%;}
    100%{width: 41%;}
}


.button button a{
    text-decoration: none;
    color: black;
}



.button button{
    background-color: yellow;
    padding: 1rem;
    border-radius: 0.5rem;
    transform: skewY(0);
    animation: button 1s 0s infinite;
}


.button button a:hover{
    color: yellow;
}

.button button:hover{
    background-color: rgb(136, 136, 136);
}
@keyframes button {
    0%{transform: skewY(0);}
    25%{transform: skewY(-5deg);}
    50%{transform: skewY(-5deg);}
    75%{transform: skewY(-8deg);}
    100%{transform: skewY(8deg);}
}

